p.mote {
    color: red;
}

p.verso {
    color: blue;
}

.circular--square {
    border-radius: 50%;
}

/* Estilo para imagens dentro do div com a classe "poeta" */
.poeta img {
    border-radius: 50%; 
}


th {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
}

table {
    width: 100%; /* Largura da tabela */
    border-collapse: collapse; /* Remove espaços entre células */
}

td, th {
    border: 1px solid #ddd; /* Borda das células */
}